@use 'common/colors';
.rooms {
  height: 85vh;
  padding-top: 5rem;
  padding-right: 100px;
}
.rooms-header {
  float: left;
  margin: 1rem 2rem 1rem 2rem;
  //   margin-top: 0;
}

#date-picker,
#date-picker-cart {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
}

.date-input {
  input {
    height: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    display: block;

    &::-webkit-datetime-edit-month-field:focus,
    &::-webkit-datetime-edit-day-field:focus,
    &::-webkit-datetime-edit-year-field:focus {
      background-color: colors.$dark-olive-green;
    }
    &:focus {
      outline-color: colors.$gray;
    }
  }
}
.rooms-list {
  overflow-y: scroll;
  height: 65vh;

  &::-webkit-scrollbar {
    display: none;
  }
}

#rooms-index {
  clear: left;
  margin: 1rem;
  padding: 1rem;
  float: left;
  font-size: 1.5rem;

  .index {
    padding: 2px;
    cursor: pointer;
  }

  .index:hover,
  .index:focus {
    color: colors.$dark-olive-green;
    outline: none;
  }
}

.room-li {
  margin: 0rem 0rem 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.room-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  //   flex-direction: row;

  .room-photo {
    margin: 1rem 1rem 0 0;
    // flex-grow: 2;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .room-data {
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 2rem;
      margin: 1rem 0 1rem 0;
    }

    .room-desc {
      margin: 0;
    }

    .room-info {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      ul {
        // width: 40%;
        flex-grow: 2;
        li {
          display: flex;
          justify-content: space-between;
        }
      }

      .price {
        flex-grow: 3;
        h3 {
          font-size: 2.5rem;
          margin: 0;
          i {
            font-size: 1.5rem;
          }
        }
        p {
          margin-top: 0;
          font-weight: 200;
        }
      }
    }
  }
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
