@use 'common/colors';

.list-group {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.room-li {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.room-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  //   flex-direction: row;

  .room-photo {
    margin: 1rem 1rem 0 0;
    // flex-grow: 2;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .room-data {
    // flex-grow: 1;

    h3 {
      font-size: 2rem;
      margin: 1rem 0 1rem 0;
    }

    .room-desc {
    }

    .room-info {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      ul {
        // width: 40%;
        flex-grow: 2;
        li {
          display: flex;
          justify-content: space-between;
        }
      }

      .price {
        flex-grow: 3;
        h3 {
          font-size: 2.5rem;
          margin: 0;
          i {
            font-size: 1.5rem;
          }
        }
        p {
          margin-top: 0;
          font-weight: 200;
        }
      }
    }
  }
}
