@use 'common/colors';

@mixin dark-text-background {
  background-color: colors.$black-transparent;
  padding: 0.5rem;
  color: colors.$light-grey;
}

#cart {
  background-color: colors.$dark-grey;
  color: colors.$light-grey;
  position: fixed;
  z-index: 7;
  top: calc(150px + 12vh);
  right: 0px;
  text-align: center;

  #show-cart {
    transition: all 0.5s ease-in-out;
    cursor: default;
  }

  .cart-visible {
    width: 100%;
  }

  h3,
  h4,
  p {
    margin: 0;
    color: colors.$light-grey;
    display: inline;
  }
}

#cart-container {
  max-width: min(400px, 100vw);
  display: none;
  max-height: 50vh;
  overflow: auto;
}

.cart-item {
  border-top: solid 1px colors.$light-grey;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  i {
    font-size: 1rem;
    font-weight: 200;
  }

  header {
    display: flex;
    align-items: center;

    img {
      padding: 1rem 1rem 1rem 0rem;
      width: 7rem;
      height: 7rem;
      object-fit: cover;
    }

    h3 {
      font-size: 1.7rem;
    }
  }

  .center {
    padding: 0rem 0 1rem 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: 1.5rem;
    }
    .btn {
      // text-align: center;
      box-sizing: border-box;
      padding: 1rem 0 1rem 0;
      width: 5rem;
      height: 3rem;
    }
  }
}
#cart-list {
  .total {
    border-top: solid 1px colors.$light-grey;
    border-bottom: solid 1px colors.$light-grey;
    i {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 6rem;
    gap: 5px;
    padding-top: 1rem;
    .btn {
      width: 100%;
    }
  }
}

#cart-summary {
  background-color: colors.$dark-grey;
  width: 75%;
  height: 80vh;
  margin: auto;
  overflow: auto;
  cursor: default;
  padding: 1rem;
  color: colors.$light-grey;

  h3 {
    color: colors.$light-grey;
    font-size: 1.8rem;
  }
  h4 {
    margin: 0;
  }

  .center {
    font-size: 1.5rem;
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr 6rem 6rem;
    gap: 1rem;

    .big-btn {
      width: 100%;
      margin: 0;
    }
  }
  .close-summary {
    // float: right;
  }
}

#cart-summary-overlay {
  cursor: default;
}

#edit-cart {
  background-color: colors.$dark-grey;
  color: colors.$light-grey;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 50%;
  cursor: default;

  li {
    button {
      display: inline-block;
      width: 33%;
    }
  }
}

#cart-room-edit {
  #edit-cart {
    .edit-buttons {
      display: flex;
      justify-content: space-evenly;
      .btn {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }

    .room-li {
      margin: 0 1rem 1rem 1rem;

      p {
        text-align: left;
      }
      h3 {
        color: colors.$light-grey;
      }
      .room-container {
        display: block;
        // padding: 0 1rem 0 1rem;

        .room-header {
          border-bottom: 1px solid colors.$light-grey;
        }
        .room-data {
          display: block;
          width: 100%;
          .room-info {
            width: 100%;
          }
          .price {
            p {
              text-align: left;
            }
          }
          figure {
            padding: 0 0 1rem 1rem;
            margin: 0;
            width: 8rem;
            height: 8rem;
            float: right;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    .treatment-li {
      width: 100%;
      height: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;

      figure {
        margin: 0;
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .treatment-container {
        .treatment-data {
          display: block;
          color: colors.$dark-grey;
          font-weight: 400;

          .price {
            .btn {
              padding: 0.5rem 0.5rem 0.5rem 1.5rem;
              height: 3rem;
              font-size: 2rem;
              text-align: center;
              width: 4rem;
              &:hover {
                background-color: initial;
              }
            }
          }
        }
      }
    }
  }
}
