@use 'common/colors';

#cart {
  background-color: colors.$dark-grey;
  color: colors.$light-grey;
  position: fixed;
  z-index: 7;
  top: calc(150px + 12vh);
  right: 0px;
  text-align: center;

  // max-width: 30%;
  #show-cart {
    transition: all 0.5s ease-in-out;
    cursor: default;
  }

  .cart-visible {
    width: 100%;
  }

  h3,
  h4,
  p {
    margin: 0;
    color: colors.$light-grey;
    display: inline;
  }

  #cart-container {
    max-width: min(400px, 100vw);
    display: none;
    max-height: 50vh;
    overflow: auto;

    .cart-item {
      border-top: solid 1px colors.$light-grey;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      i {
        font-size: 1rem;
        font-weight: 200;
      }

      header {
        display: flex;
        align-items: center;

        img {
          padding: 1rem 1rem 1rem 0rem;
          width: 7rem;
          height: 7rem;
          object-fit: cover;
        }

        h3 {
          font-size: 1.7rem;
        }
      }

      .center {
        padding: 0rem 0 1rem 0;
      }

      footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
          font-size: 1.5rem;
        }
        .btn {
          // text-align: center;
          box-sizing: border-box;
          padding: 1rem 0 1rem 0;
          width: 5rem;
          height: 3rem;
        }
      }
    }
  }

  .total {
    border-top: solid 1px colors.$light-grey;
    border-bottom: solid 1px colors.$light-grey;
    i {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 6rem;
    gap: 5px;
    padding-top: 1rem;
    .btn {
      width: 100%;
    }
  }
}

#edit-cart {
  background-color: colors.$dark-grey;
  color: colors.$light-grey;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 50%;
  cursor: default;

  li {
    button {
      display: inline-block;
      width: 33%;
    }
  }
}

#cart-summary {
  background-color: colors.$dark-olive-green;
  width: 75%;
  height: 80vh;
  margin: auto;
  overflow: auto;
  cursor: default;

  .big-btn {
    width: 75%;
  }

  .close-summary {
    float: right;
  }
}

#cart-summary-overlay {
  cursor: default;
}
