@use 'common/colors';

@mixin dark-text-background {
  background-color: colors.$black-transparent;
  padding: 0.5rem;
  color: colors.$light-grey;
}

#treatments {
  h2 {
    width: max(200px, 33%);
  }
}

.treatments-list,
#edit-cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .treatment-li {
    width: calc(50% - 1rem);
    height: 350px;
    margin: 1rem 0rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-position: center;
    background-size: cover;

    .treatment-container {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.6);
      // display: none;
      figure {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .treatment-data {
        display: none;

        .price {
          display: flex;
          align-items: center;
          padding-right: 2rem;

          .btn {
            padding: 1.5rem;
          }
          i {
            font-size: 1rem;
            font-weight: 400;
          }
          h3 {
            font-size: 1.5rem;
            flex-grow: 3;
            @include dark-text-background();
            text-align: right;
          }
        }

        .treatment-info {
          display: flex;
          justify-content: space-evenly;
          font-style: italic;
          li {
            //   margin: 1rem;
            //   @include dark-text-background();
            p {
              display: inline;
            }
            //   display: flex;
            //   flex-direction: row;
          }
        }
      }
    }
  }

  .treatment-desc {
    margin: 1rem;
    text-align: justify;
    font-weight: 200;
    // padding: 1rem;
    // @include dark-text-background();
  }

  .treatment-header {
    text-align: center;
    border-bottom: solid 1px;
    margin: 1rem;
    // @include dark-text-background();
    padding: 0;
  }
}
