@use 'common/colors';

#hero {
  position: absolute;
  width: 100%;
  padding: 0;

  h2 {
    margin: 1rem 0 0 0;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    width: auto;
    text-align: initial;
    color: colors.$light-grey;
    background-color: colors.$black-transparent;
    display: inline-block;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  // margin-top: 17vh !important;

  .front-page-header-top {
    max-width: 60%;
    position: relative;
    top: 20vh;
    left: 20%;
  }

  .front-page-header-bottom {
    max-width: 60%;

    position: relative;
    top: 20.5vh;
    left: 20%;
  }

  .front-page-desc {
    position: relative;
    top: 22vh;
    left: 20%;
    max-width: 40%;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-weight: 300;
}

section.home {
  margin: 0rem;
  height: 100vh;
}

.section-break {
  background-color: colors.$light-grey;
  color: colors.$black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;

  .section-break-paragraph {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2rem;
    font-weight: 200;
  }
}

#section-rooms {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;

  figure {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .home-rooms {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

#section-spa {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  figure {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      width: 33%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .home-spa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.invisible {
  opacity: 0;
}

.big-btn {
  margin: 2rem;
  background-color: colors.$dark-olive;
  color: colors.$light-grey;
}
