$dark-olive-green: #6c442e;
$sienna: #8d6644;
$light-grey: #d2cecd;
$black: #302d25;
$gray: #90715f;

body {
  background-color: $light-grey;
  margin: 0;
  font-family: "Raleway", sans-serif;

  .nav-logo,
  h1 {
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    word-wrap: break-word;
  }

  h2 {
    // color: $dark-olive-green;
  }

  h3 {
    color: $sienna;
  }
}

main {
  margin-top: 10vh;
}

section {
  height: 100vh;
}

#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;

  .front-page-header-top {
    max-width: 60%;
    position: relative;
    top: 20vh;
    left: 20%;
  }

  .front-page-header-bottom {
    max-width: 60%;

    position: relative;
    top: 20.5vh;
    left: 20%;
  }

  .front-page-desc {
    position: relative;
    top: 22vh;
    left: 20%;
    max-width: 40%;
  }
}

.section-break {
  background-color: $light-grey;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .section-break-paragraph {
    margin-left: 10%;
    margin-right: 10%;
  }
}

#section-rooms {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;


    figure {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
      }

    }

    .home-rooms {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .wrapper {
        display: flex;
        flex-direction: column;

        align-items: center;
      }
    }
}

#section-spa {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    figure {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
      }

    }

    .home-spa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
}

.footer {
  margin: 1rem;
}

#cart {
  background-color: $dark-olive-green;;
  position: fixed;
  z-index: 100;
  top: 10%;
  right: 0px;
  width: 30%;
  .list-group {
    max-height: 80vh;
    overflow: auto;
  }
}


.navbar {
  background-color: $black;
  padding: 1rem 1rem 0 1rem;
  color: $light-grey;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;

  .nav-list {
    display: flex;
    list-style: none;
    padding-bottom: 1rem;

    .nav-item {
    }
  }
}

.list-group-item {
  margin: 1rem;

  img {
    max-width: 20%;
  }
}


.btn {
  // background-color: #4CAF50; /* Green */
  padding: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: $dark-olive-green;
  }
}

.big-btn {
  // background-color: #4CAF50; /* Green */
  // margin-left:20%;
  font-size: 1.5rem;
  padding: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: $dark-olive-green;
  }
}
