@use 'common/colors';

body {
  background-color: colors.$light-grey;
  margin: 0;
  font-family: "Raleway", sans-serif;
  // position: absolute;
  *::selection {
    background-color: colors.$dark-olive-green;
  }
  .nav-logo,
  h1 {
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    vertical-align: middle;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    word-wrap: break-word;
  }

  h2 {
    font-weight: 300;
    margin-left: 2rem;
    padding: 0.5rem;
    width: 33%;
    text-align: center;
    color: colors.$light-grey;
    background-color: colors.$black;
  }

  h3 {
    color: colors.$space;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar {
  width: 100%;
  z-index: 15;
  position: fixed;
  top: 0;
  background-color: colors.$black-transparent;
  padding: 1rem 0 1rem 0;
  color: colors.$light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-logo {
    cursor: pointer;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  margin-bottom: -1rem;
  margin-top: 0rem;

  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#hamburger {
  position: fixed;
  right: 1rem;
  top: 0.1rem;
}

#profile-sidebar {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: fixed;
  top: calc(12vh);
  right: 0;
}

section {
  padding-top: 4rem;
  padding-left: 1rem;
  padding-right: 100px;
}

.list-group {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.list-group-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;

  img {
    max-width: 20%;
  }
}

.unavailable {
  color: #750000;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

aside {
  .icon {
    position: relative;
    top: -1px;
  }

  button {
    width: 100px;
    height: 75px;
  }
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:hover {
  background: colors.$dark-olive-green;
  outline: 0px solid colors.$light-grey;
}

.btn {
  color: colors.$light-grey;
  font: inherit;
  background-color: colors.$black;
  padding: 1rem;
  transition-duration: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: colors.$dark-olive-green;
    color: colors.$black;
  }

  &:disabled {
    cursor: default;
    background-color: colors.$black-transparent; /* Green */
    color: initial;
  }
}

.big-btn {
  // background-color: #4CAF50; /* Green */
  color: colors.$black;
  font-size: 1.5rem;
  padding: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: colors.$dark-olive-green;
  }
}

.trans {
  background: none;
}

.hidden {
  display: none;
}

.info {
  z-index: 49;
  text-align: center;
  // line-height: 50px;
  color: colors.$light-grey;
  background-color: colors.$black;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 250px;
  min-height: 50px;
  vertical-align: middle;
}

.footer {
  margin: 1rem;
  padding-top: 1rem;
  text-align: center;
}
