$dark-olive: #887381;
$dark-olive-green: #ecd496;
// $sienna: #8d6644;
$dark-grey: #59544b;
$light-grey: #ecebeb;
$black: #302d25;
$black-transparent: #302d25b2;
// $gray: #90715f;
$gray: #464655;
$space: #25283d;
